
<header class="splash-screen-container">
  <div class="overlay">
   <h1 class = 'title fm fst-italic'>Prudent</h1>
    <div class="splash-image">
      <%= image_tag 'oyin-logo.png', class: 'splash-illustration' %>
    </div>
    <div class="intro-text">
       <h2> To acquire money requires valor</h2>
       <p> To keep money and spend it well require prudence.</p>
    </div>
  <nav class='nav'>
    <ul>
       <li class='login'>
        <%= link_to "LOG IN", new_user_session_path, class: 'btn main-bg text-light mt-4 login'%>
      </li>
      <li class='signup'>
        <%= link_to "SIGN UP", new_user_registration_path, class: 'btn main-bg text-light mt-4 signup' %>
      </li>
    </ul>
  </nav>
  </div>
</header>